<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dxy.exercisecodefromblog">

    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QQQunActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CustomViewActivity" />
        <activity android:name=".camera.TakeCameraActivity" />
        <activity android:name=".sensor.SensorActivity" />
        <activity android:name=".picture.PictureActivity" />
        <activity android:name=".path.PathActivity" />
        <activity android:name=".mvp.bean.activity.UserLoginActivity" />
        <activity android:name=".takephoto.PhotoActivity" />
        <activity android:name=".factory.LayoutInflaterActivity" />
        <activity android:name=".takephoto.PictureRotateActivity" />
        <activity android:name=".menu.MenuActivity" />
        <activity
            android:name=".menu.Menu2Activity"
            android:label="@string/title_activity_menu2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".notifications.NotificationsActivity" />
        <activity android:name=".Recycler.RecyclerViewActivity" />
        <activity android:name=".springview.SpringViewActivity" />
        <activity android:name=".viewpager.AutoViewpagerActivity" />
        <activity android:name=".cropview.SimpleCropViewActivity" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".activity.LifeCycleActivity" />
        <activity
            android:name=".activity.TargetActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".navigationview.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".toolbar.ToolBarActivity"
            android:theme="@style/ToolbarAppTheme" />
    </application>

</manifest>